@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* Outfit Variable Font */
@font-face {
  font-family: 'Outfit';
  src:
    url('../assets/fonts/Outfit-VariableFont_wght.woff2') format('woff2'),
    url('../assets/fonts/Outfit-VariableFont_wght.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Fonts */
  --font-outfit:
    'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
  --accent: 0, 0, 0;
}

@layer components {
  .btn {
    @apply cursor-pointer rounded bg-neutral-950 px-3 py-1 text-sm text-white shadow;
  }
  .btn-lg {
    @apply cursor-pointer rounded bg-neutral-950 px-4 py-2 text-sm text-white shadow;
  }
}
